<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dynamic Three Column Section</title>
  <link rel="stylesheet" href="/project_web3/css/main.css/components/home.css" />
</head>
<body>
  <section class="three-columns-section">
    <div class="three-columns-container">
      <div id="card-row" class="row"></div>
    </div>
  </section>

  <script src="/project_web3/script.js"></script>
</body>
</html>
