<link rel="stylesheet" href="/project_web3/css/main.css/components/home.css" />
<section class="s_product_list pt96 pb96">
    <div class="container">
      <h2 class="h3-fs text-center">Our premier facilities</h2>
      <div id="facilities-row"></div>
    </div>
  </section>
  

<section class="s_call_to_action">
 
  <div class="container">
    <div class="row">
      <div class="cta-content">
        <h3>
          5,000 athletes<br />
          have trained at our complex this year.
        </h3>
        <p>
          Trust us with your training needs and enjoy peace of mind while you
          focus on your goals.
        </p>
        <p><a class="cta-button" href="/contactus">Contact our team</a></p>
      </div>
    </div>
  </div>
</section>

<script src="/project_web3/script.js"></script>
